{
    "parser": "@typescript-eslint/parser",
    "env": {
      "node": true
    },
    "parserOptions": {
      "ecmaVersion": 2020,
      "project": "./tsconfig.json",
      "sourceType": "module"
    },
    "extends": [
      "eslint:recommended",
      "plugin:import/errors",
      "plugin:import/warnings",
      "plugin:import/typescript",
      "plugin:@typescript-eslint/recommended",
      "plugin:prettier/recommended" // Make sure this is always the last configuration in the extends array.
    ],
    "rules": {
      "@typescript-eslint/no-floating-promises": "error",
      "@typescript-eslint/no-unused-vars": "error",
      "no-console": "error",
      "simple-import-sort/exports": "error",
      "simple-import-sort/imports": "error",
      "import/first": "error",
      "import/newline-after-import": "error",
      "import/no-duplicates": "error"
    },
    "plugins": ["import", "simple-import-sort"],
    "ignorePatterns": [
      "serviceWorker.ts",
      "generated",
      "*.css",
      "*.svg",
      "*.jpg",
      "*.png",
      "webpack.config.js",
      ".eslintrc.js"
    ]
  }